@font-face {
    font-family: "Gotham";
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    src:url("../fonts/Gotham-Light.ttf") format("truetype")
  } 

@font-face {
    font-family: "Gotham";
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src:url("../fonts/Gotham-Book-Regular.ttf") format("truetype")
  } 

@font-face {
    font-family: "Gotham";
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    src:url("../fonts/Gotham-Medium.ttf") format("truetype")
  } 

@font-face {
    font-family: "Gotham";
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src:url("../fonts/Gotham-Bold.ttf") format("truetype")
  } 

@font-face {
    font-family: "Open-Sans-Italic";
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src:url("../fonts/Open-Sans-Italic.ttf") format("truetype")
  } 
